<div class="card-group text-center">
    <div class="card border-success">
        <img class="card-img-top border-success" src="assets/img/angular.png" alt="Card image cap" style="width: 50%;height: 50%;margin-left: 25%; margin-right: 25%; margin-top: 10px">
        <div class="card-body border-success">
            <h5 class="card-title">Angular v7</h5>
            <p class="card-text">Angular es un framework de desarrollo para JavaScript creado por Google. La finalidad de Angular es facilitarnos el desarrollo de aplicaciones web SPA y además darnos herramientas para trabajar con los elementos de una web de una manera más
                sencilla y optima.</p>
            <p class="card-text"><small class="text-muted">Ultima Actualizacion 16/11/2018</small></p>
        </div>
    </div>
    <div class="card border-success">
        <img class="card-img-top border-success" src="assets/img/php.png" alt="Card image cap" class="img-dashboard" style="width: 50%;height: 50%;margin-left: 25%; margin-right: 25%; margin-top: 10px">
        <div class="card-body border-success">
            <h5 class="card-title">PHP v7</h5>
            <p class="card-text">PHP (acrónimo recursivo de PHP: Hypertext Preprocessor) es un lenguaje de código abierto muy popular especialmente adecuado para el desarrollo web y que puede ser incrustado en HTML.</p>
            <p class="card-text"><small class="text-muted">Ultima Actualizacion 16/11/2018</small></p>
        </div>
    </div>
    <div class="card border-success">
        <img class="card-img-top border-success" src="assets/img/postgres.png" alt="Card image cap" class="img-dashboard" style="width: 50%;height: 50%;margin-left: 25%; margin-right: 25%; margin-top: 10px">
        <div class="card-body border-success">
            <h5 class="card-title">Postgres SQL v10</h5>
            <p class="card-text">PostgreSQL es un potente sistema de base de datos objeto-relacional de código abierto. Cuenta con más de 15 años de desarrollo activo y una arquitectura probada que se ha ganado una sólida reputación de fiabilidad e integridad de datos.</p>
            <p class="card-text"><small class="text-muted">Ultima Actualizacion 16/11/2018</small></p>
        </div>
    </div>
</div>