<div class="container">
    <h2 style="color: black">Gestión de Usuarios</h2>
    <div class="row animated fadeIn">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <input type="text" class="form-control" placeholder="Buscar...." name="search" [(ngModel)]="filter" DirectivaMayusculas>

                </div>
            </div>
        </div>
    </div>
    <div class="row animated fadeIn">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive pointer">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Cédula</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Provincia</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let usuario of listaUsuarios | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                                    <td>{{usuario.pk_user}}</td>
                                    <td>{{usuario.cedula_user}}</td>
                                    <td>{{usuario.nombres_user}}</td>
                                    <td>{{usuario.apellidos_user}}</td>
                                    <td>{{usuario.nombre_provincia}}</td>

                                    <td>
                                        <!-- Boton de Opciones -->

                                        <!-- Example single danger -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-code"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item pointer" [routerLink]="['/usuario',usuario.pk_user]">Editar</a>
                                                <a class="dropdown-item pointer" (click)="eliminarUsuario(usuario)">Eliminar</a>
                                            </div>
                                        </div>


                                    </td>
                                </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>

                        <br>


                        <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>