/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
body {
    background: #f9f9f9;
}

#wrapper {
    padding: 90px 15px;
}

.navbar-expand-lg .navbar-nav.side-nav {
    flex-direction: column;
}

.card {
    margin-bottom: 15px;
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

.header-top {
    box-shadow: 0 3px 5px rgba(7, 211, 75, 0.1)
}

.leftmenutrigger,
.navbar-nav li a .shortmenu {
    display: none
}

.card-title {
    font-size: 28px
}

@media(min-width:992px) {
    .leftmenutrigger {
        display: block;
        display: block;
        margin: 7px 20px 4px 0;
        cursor: pointer;
    }
    #wrapper {
        padding: 90px 15px 15px 75px;
    }
    #wrapper.open {
        padding: 90px 15px 15px 225px;
    }
    .navbar-nav.side-nav.open {
        left: 0;
    }
    .side-nav li a {
        padding: 20px
    }
    .navbar-nav li a .shortmenu {
        float: right;
        display: block;
        opacity: 1
    }
    .navbar-nav.side-nav.open.navbar-nav li a .shortmenu {
        opacity: 0
    }
    .navbar-nav.side-nav {
        background: #50575d;
        box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
        position: fixed;
        top: 56px;
        flex-direction: column!important;
        left: -140px;
        width: 200px;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px
    }
}

.animate {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.navbar-nav li a svg {
    font-size: 25px;
    float: left;
    margin: 0 10px 0 5px;
}

.side-nav li {
    border-bottom: 1px solid #50575d;
}

html {
    background-color: white;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}

.pointer {
    cursor: pointer;
}

.w150 {
    width: 150px;
}

.w70 {
    width: 150px;
}

.img-50 {
    width: 50px;
}

.img-circle {
    border-radius: 100%;
}


/* clases para ocultar el modal*/

.oculto {
    display: none;
}


/* clases para fondo del modal*/

.fondo-negro {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999
}